<div class="container">
    <h1>Software Developer</h1>   
    <div id="photo">

    </div>
    <p id="mi_descripcion">I am a Software Developer from
        Buenos Aires, Argentina
    </p>
</div>
<div id="skills">

</div>
<div id="certificates">
    <div class="boxes">
        <h2>Software Development Technician | UADE Pinamar</h2>
        <br>
        <h2>2021-2024</h2>
    </div> 
    <div class="boxes">
        <h2>NDG Linux Essentials | Cisco Network Academy</h2>
        <br>
        <h2>2021</h2>
    </div> 
    <div class="boxes">
        <h2>Introduction to IOT | Cisco Network Academy</h2>
        <br>
        <h2>2021</h2>
    </div> 

</div>