<div class="container">
    <h1>Software Developer</h1>   
    <div id="photo">
        <img src="./assets/img/1.jpeg" alt="My Photo">
        <h2>Nahir Vignolo</h2>
    </div>
    <p id="mi_descripcion">I am a Software Developer from
        Buenos Aires, Argentina
    </p>
</div>

<!-- Segunda parte -->

<div id="skills">
    <div id="certificates">
        <div class="boxes">
            <h2>Software Development Technician | UADE Pinamar</h2>
            <br>
            <h2>2021-2024</h2>
        </div> 
        <div class="boxes">
            <h2>NDG Linux Essentials | Cisco Network Academy</h2>
            <br>
            <h2>2021</h2>
        </div> 
        <div class="boxes">
            <h2>Introduction to IOT | Cisco Network Academy</h2>
            <br>
            <h2>2021</h2>
        </div> 

    </div>
    <div id="languages">
        <div class="cajitas"> <!-- ARREGLAR TEXTO ALTERNATIVO -->
            <img src="./assets/img/icons8-java.png" alt="Java icon">
        </div>
        <div class="cajitas">
            <img src="./assets/img/python.png" alt="Python icon">
        </div>
        <div class="cajitas">
            <img src="./assets/img/kotlin.png" alt="Kotlin icon">
        </div>
        <div class="cajitas">
            <img src="./assets/img/icons8-mysql.png" alt="Kotlin icon">
        </div>
        <div class="cajitas">
            <img src="./assets/img/html5.png" alt="Kotlin icon">
        </div>
        <div class="cajitas">
            <img src="./assets/img/icons8-javascript.png" alt="Kotlin icon">
        </div>
        <div class="cajitas">
            <img src="./assets/img/unity.png" alt="Kotlin icon">
        </div>


    </div>

</div>