.container{
    margin: auto;
    padding-top: 200px;
    align-items: flex-start;
    display: flex;
    flex-direction: row; /* acomodar items en fila */
    justify-content: space-between;
}


h1{
    color: #fff;
    margin-top: 60px;
    margin-left: 50px;
    padding: 20px;
    font-size: 40px;
}

#mi_descripcion{
    font-size: 32;
    color: #fff;
    float: right;
    margin: 80px 60px;
    padding: 20px;
    
}

#photo{
    width: 40vh;
    height: 450px;
    background-color: rgb(63, 55, 55);
    display: flex;
    margin:80px  auto 0;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
}
#photo img{
    height: 80%;
    width: 100%;
}
#photo h2{
    color: #fff;
    margin: auto;
}

/* Segunda Parte */
#skills{
    justify-content: space-between;
    flex-direction: row;
    height: 100vh;
    width: 100%;
    margin:400px auto ;
    display: flex;
    

}

#certificates{
    height: 80%;
    width: 50%;
    margin-left: 30px;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}

.boxes{
    height: 160px;
    width: 400px;
    background: radial-gradient(61.03% 61.96% at 52.99% 50%, #2E5746 0%, rgba(26, 29, 26, 0.84) 86.34%);
    padding: 20px;
    margin: 20px;
    

}

#certificates .boxes h2 {
    color: #fff;
}

.boxes :hover{
    border: 5px solid #fff;
    flex-grow: 2;
}
/* Languages  */
#languages{
    float: right;
    
    width: 360px;
    margin:20px 50px;
    flex-wrap: wrap;
    justify-content: flex-start;
    display: flex;
    

}
.cajitas{
    background-color: #fff;
    width: 100px;
    height: 100px;
    margin-right: 20px;
    margin-bottom: 20px;

}
.cajitas img{
    height: 90%;
    width: 90%;
    margin: auto;
}