@import "~bootstrap/dist/css/bootstrap.css";

header{
    width: 100%;
    height: 70px;
    

}
body{
    background-image: url('src/assets/img/blue_forest.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
}


 
