
/* -------------nav------------------- */
nav{
    float: right;
    margin-top: 20px;
    text-align: start;
    justify-content: end;
    align-items: flex-start;
    
}

li{
    text-align: end;
    display: inline;
    padding: 20px;
    
}

li a{
    color: #fff;
    text-decoration: none;
}



#marcado{
    text-decoration: underline;

}