/* Contenedor principal */
.container{
    margin: auto;
    padding-top: 200px;
    align-items: center;
    display: flex;
    flex-direction: row; /* acomodar items en fila */
    justify-content: space-between;
}

/*  */


.form{
    height: 570px;
    width: 420px;
    background: linear-gradient(149deg, rgba(14, 43, 31, 0.65) 3.31%, rgba(46, 47, 50, 0.49) 95.13%);
    padding: 25px;
    margin-left: 50px;
    margin-bottom: 80px;
   
}

.form h2{
    color: #ffffff;
    font-size: 32px;

}   

.form h3{
    color: #ffffff;
    
}

.form input{
    height: 40px;
    width: 215px;
    background-color: rgba(104, 96, 96, 0.25);
    border: solid 1px #756b0cc9;
    font-size: 16px;
    color: #ffffff;
}

.form textarea{
    background-color: rgba(104, 96, 96, 0.25);
    border: solid 1px #756b0cc9;
    width: 400px;
    height: 150px;
    font-size: 16px;
    color: #ffffff;
}

 

.info{
    margin-top: 200px 500px 80px ;
    display: block;
    height: 520px;
    width: 420px;
    padding: 25px;
}

.info p{
    color: #ffffff;
    font-size: 24px;
    padding: 20px;
    margin-top: 10px;
}

#btn-cv{
    height: 50px;
    width: 170px;
    margin-left: 10px;
    font-size: 15px;
    padding: 10px;
    align-items: center;

}
#btn-send{
    height: 30px;
    width: 100px;
    margin: 10px 10px;
    float: right;
    
}

.btn :hover{
    background-color: aqua;
}