/* Contenedor principal */
.container{
    margin: auto;
    padding-top: 200px;
    align-items: flex-start;
    display: flex;
    flex-direction: row; /* acomodar items en fila */
    justify-content: space-between;
}

/*  */

.form{
    height: 570px;
    width: 420px;
    background: linear-gradient(149deg, rgba(14, 43, 31, 0.65) 3.31%, rgba(46, 47, 50, 0.49) 95.13%);
    padding: 25px;
    margin-left: 50px;
    margin-bottom: 80px;
   
}

.form h2{
    color: #ffffff;
    font-size: 32px;

}   

.form h3{
    color: #ffffff;
    
}

.form input{
    height: 40px;
    width: 215px;
    background-color:#686060;
    opacity: 25%;
    border: solid #756A0C;
}
.form textarea{
    background-color: #686060;
    border: solid #756A0C;
    opacity: 25%;
    width: 400px;
    height: 150px;
}

 

.info{
    margin-top: 200px 500px 80px ;
    display: block;
    height: 520px;
    width: 420px;
    padding: 25px;
}

.info p{
    color: #ffffff;
    font-size: 24px;
    padding: 20px;
    margin-top: 10px;
}

.btn{
    height: 50px;
    width: 170px;
    margin-left: 10px;
    font-size: 15px;
    padding: 10px;
    align-items: center;

}

.btn :hover{
    background-color: aqua;
}