<div class="redes">
    <ul>
        <li>
            <a href="https//:github.com/Nahirwish" target="_blank"><img src="assets/img/github_white.png" alt="GitHub Icon">
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/nahir-vignolo-a69a7420b/" target="_blank"><img src="assets/img/linkedinwhite.png" alt="Linkedin Icon">
            </a>
        </li>
        <li>
            <a href="https//:instagram.com/Nahirwish" target="_blank"><img src="assets/img/instawhite.png" alt="Instagram Icon">
            </a>
        </li>
    </ul>
</div>
